.page-container {
    width: 585px;
    margin: 0 auto;
}


div#gameBoard {
    background: #CCC;
    border: #999 1px solid;
    width: 535px;
    height: 525px;
    padding: 24px;
    margin: 0px auto;
}

div#gameBoard>div {
    border: #000 1px solid;
    width: 71px;
    height: 71px;
    float: left;
    margin: 10px;
    padding: 20px;
    font-size: 64px;
    cursor: pointer;
    text-align: center;
}

.star-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

#reset {
    /* margin-left: 90%; */
    margin-bottom: 17px;
}

#timer {
    font-size: 3rem;
    text-align: center;
}
